html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	overflow:hidden;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background: linear-gradient(100.55deg, #041A1D 5.83%, #05977D 65.33%, #05867E 89.43%);